        * {
            padding: 0;
            margin: 0;
        }

        nav {
            color: brown;
            background-color: white;
            height: 10vh;
        }

        .logo {
            display: inline-block;
            color: rgb(0, 0, 0);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large;
            font-weight: 600;
            background-color: white;
            height: 7vh;
            width: 20%;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 1.3vh;




        }

        .li {
            display: inline-block;
            height: 7vh;
            width: 55%;
            text-align: center;
            box-sizing: border-box;
            padding: 1.3vh;
            vertical-align: middle;


        }

        .li a {
            display: inline-block;
            text-decoration: none;
            padding: 0 2vh;
            color: black;


        }

        nav:hover {
            cursor: pointer;
        }

        .li>a:hover {
            cursor: pointer;
            background-color: rgb(59, 150, 255);
            color: blue;
            border-radius: 2vh;
            font-size: large;
        }

        .username:hover {
            cursor: pointer;
            background-color: rgb(59, 150, 255);
            color: blue;
            size: 5vh;
            font-size: large;
            font-weight: 500;
        }

        .username {
            display: inline-block;
            width: 20%;
            box-sizing: border-box;
            padding: 1.3vh;
            color: aqua;
            height: 7vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 1.5vh;
            background-color: rgb(210, 245, 255);
            border-radius: 2vh;
            text-align: center;
            vertical-align: middle;
        }

        .hero {
            /* display: inline-block; */
            box-sizing: border-box;
            height: 90vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
            width: 100%;
            
        }

        .left {
            display: inline-block;
            width: 49%;
            box-sizing: border-box;
            height: 100%;
            vertical-align: middle;
            padding: 20vh 20vh;
        }

        .left .h1 {
            color: rgba(159, 174, 187, 0.831);
        }

        .left .h2 {            
            margin-top: 2vh;
            width: 100%;
            color: rgb(42, 189, 248);
        }

        .left p {
            margin-top: 2vh;
            width: 100%;
        }

        .left button {
            width: 70%;
            height: 5vh;
            margin-left:10vh  ;
            margin-top: 5vh;
            color: white;
            background-color: rgb(0, 157, 255);
            border-radius: 5vh;
            vertical-align: middle;
            border-color: aliceblue;
        }
        .right {
             display: inline-block;
             box-sizing: border-box;
            width: 50%;
            height: 100%;
            vertical-align: middle;
            padding: 20vh 20vh; 
                }
        button:hover{
            font-size: large;
            cursor: pointer;
        }        
        img{
            height: 45vh;

        }               